$ele-height: 2.5em;
$font-size: 1.3em;

.header{
    max-width: 100%;
    box-shadow: 5px 5px 20px gray;
  }
  
  .row div{
    display: inline-block;
  }

  .brand h1{
    font-size: 2em;
  }
  
  .brand{
    color: white;
    margin-left: 2%;
    padding: 0.8em;
    width: 23%;
    margin-top: 0.8em;
  }
  
  .inp-container input{
    display: inline-block;
    width: 75%;
    height: $ele-height;
    border: none;
  }
  .inp-container button{
    width: 10%;
    height: $ele-height;
    border: none;
    background-color: #dadada;
  }
  
  .dropdown{
    width: 15%;
  }
  .select-btn{
    height: $ele-height;
    border: none;
    background-color: #dadada;
    font-weight: 600;
  }

  .login-container{
    width: 15%;
    color: white;
    text-align: right;
    margin: 1.7em 0.2em 0 0;
  }
   
  .login-container i,h5{
    display: inline-block;
  }

  .login-container a{
    text-decoration: none;
    color: white;
  }

  user-icon {
    margin-right: 0.4em;
    padding: 0.2em;
    font-size: $font-size;
  }
  .login{
    margin-left: 7px;
    margin-right: 7px;
  }

  .register {
    margin-left: 7px;
    margin-right: 7px;
  }

  .cart-wishlist .list-icon{
    color: white;
    font-size: $font-size;
    list-style-type: none;
    display: inline-block;
    margin-right: 0.5em;
  }

  .cart-wishlist{
    width: 9%;
    margin-top: 1.7em;
    margin-left: 0.3em;
  }