$ele-height: 2.5em;
$font-size: 1.2em;

.header{
    max-width: 100%;
    box-shadow: 5px 5px 20px gray;
  }
  
  .navBar-row div{
    display: inline-block;
  }

  .brand h1{
    font-size: 2em;
  }
  
  .brand{
    color: white;
    margin-left: 2%;
    padding: 0.8em;
    width: 23%;
    margin-top: 0.8em;

    h3 {
      a{
        text-decoration: none;
        color: white;
      }
    }
  }
  
  .inp-container input{
    display: inline-block;
    width: 75%;
    height: $ele-height;
    border: none;
  }
  .inp-container button{
    width: 10%;
    height: $ele-height;
    border: none;
    background-color: #dadada;
  }
  
  .dropdown{
    width: 15%;
  }
  .select-btn{
    height: $ele-height;
    border: none;
    background-color: #dadada;
    font-weight: 600;
  }

  .login-container{
    width: 15%;
    color: white;
    text-align: right;
    margin: 1.7em 0.2em 0 0;
  }
   
  .login-container i,h5{
    display: inline-block;
  }

  .login-container a{
    text-decoration: none;
    color: white;
  }

  user-icon {
    margin-right: 0.4em;
    padding: 0.2em;
    font-size: $font-size;
  }
  .login{
    margin-left: 7px;
    margin-right: 7px;
  }

  .register {
    margin-left: 7px;
    margin-right: 7px;
  }

  .cart-wishlist .list-icon{
    color: white;
    font-size: $font-size;
    list-style-type: none;
    display: inline-block;
    margin-right: 1em;

    #cart-item-count {
      border-radius: 50%;
      background-color: gold;
      position: absolute;
      height: 1em;
      width: 1em;
      left: 95.5%;
      top: 3%;
      text-align: center;
      line-height: 90%;

      p {
        font-size: 0.7em;
        font-weight: 600;
        color: black;
      }
    }

    a{
      color: white;
    }
  }

  .heart a:hover{
    color: red;
  }

  .cart a:hover{
    color: gold;
  }

  .cart-wishlist{
    width: 9%;
    margin-top: 1.7em;
    margin-left: 0.3em;
  }